<!-- Footer -->
<footer class="footer-32892 pb-0">
  <div class="site-section">
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md pr-md-5 mb-4 mb-md-0">
          <h3 class="subtitulos">Información</h3>
          <p class="mb-4" style="color: black;">

          <h6 class="subtitulos" style="color: black;"><b>Universidad Pedagógica y Tecnológica de Colombia</b></h6>
          <h6 class="subtitulos" style="color: black;">Escuela de Transporte y Vías</h6>
          <h6 class="subtitulos" style="color: black;">Trabajo de grado en la modalidad de proyecto de investigación
          </h6>
          <h6 class="subtitulos" style="color: black;"><strong>Desarrollo de aplicación Web para los Manuales de
              Capacidad y Nivel de Servicio de Colombia</strong></h6>
          </p>


        </div>

        <div class="col-md mb-4 mb-md-0">
          <h3 class="subtitulos">Contacto</h3>
          <p>
          <h6 class="text-general" style="color: black;"><b>Trabajo desarrollado por:</b> Cristian Nicolás Rodríguez
            González</h6>
          <h6 class="text-general" style="color: black;"><b>Correo:</b> <a href="mailto:direccion@correo.com"
              style="color:rgb(164, 0, 0)">cristian.rodriguez04@uptc.edu.co</a></h6>
          <h6 class="text-general" style="color: black;"><b>Telefono:</b> +57 3182293083</h6>
          <br>
          <h6 class="text-general" style="color: black;"><b>Director de tésis:</b> Ing Msc. Fredy Alberto Guío Burgos
          </h6>
          <h6 class="text-general" style="color: black;"><b>Correo:</b> <a href="mailto:direccion@correo.com"
              style="color:rgb(164, 0, 0)">fredy.guio@uptc.edu.co </a></h6>
          </h6>


          </p>

        </div>

        <div class="col-md-3 mb-4 mb-md-0">
          <h3 class="subtitulos">Universidad</h3>
          <div class="row gallery">
            <div class="col-12">
              <a href="http://www.uptc.edu.co/facultades/f_ingenieria/pregrado/transporte/inf_general/"
                target="blank"><img src="/static/assets/img/logo vias.png" alt="Image" class="img-fluid"
                  style="width: 30%;display: block; margin: auto;"></a>
              <a href="https://uptc.edu.co/sitio/portal/" target="blank"> <img src="/static/assets/img/logoUptc.jpg"
                  alt="Image" class="img-fluid" style="width: 50%;display: block; margin: auto;"></a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="py-5 footer-menu-wrap d-md-flex align-items-center">


            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='blog/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='blog/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='blog/js/clean-blog.min.js')}}"></script>

</body>

</html>