  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{{url_for('home')}}">Capacidad y Niveles de Servicio<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{url_for('home')}}" class="logo me-auto"><img src="../static/assets/img/logo.png" alt=""></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('home')}}">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('dosCarriles')}}">Dos carriles</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('multicarril')}}">Multicarril</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('hcm_function')}}">Dos carriles HCM</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('hcmMultilane')}}">Multicarril HCM</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('peatones')}}">Peatones</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="{{url_for('blog')}}" class="get-started-btn scrollto">Blog</a>
    </div>
  </header><!-- End Header -->