<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resultado</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.9.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% import "bootstrap/wtf.html" as wtf %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{{url_for('home')}}">Capacidad y Niveles de Servicio<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{{url_for('home')}}" class="logo me-auto"><img src="../static/assets/img/logo.png" alt=""></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('home')}}">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('blog')}}">Blog</a></li>
          <li><a class="nav-link scrollto " href="{{url_for('resultados')}}">Resultados</a></li>
          <li><a href="{{url_for('resultado')}}">Último</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Iniciar</a>
    </div>
  </header><!-- End Header -->
    <br>
    <br>
    <section class="inner-page" style="background-color:rgb(167, 164, 164)">
      <div class="container" data-aos="fade-up">
        <div class="card" style="width: 33rem;">
          <div class="card-header"><h2 style="text-align:center; color: rgb(145, 5, 5);">Resultado</h2>
          </div>
          <div class="card-body" >
            <ul class="list-unstyled">
              <li style="text-align:center; color: rgb(145, 5, 5);"><h4><strong>Cálculo de Capacidad</strong></h4></li>
              <li><p>Capacidad en condiciones ideales (Ci) en ambos sentidos = 3200 Veh/h</p></li>
              <li><p>1. F<small>pe</small>= {{datos.Fpe}} (Tabla 1)</p></li>
              <li><p>2. F<small>d </small>= {{datos.Fd}} (Tabla 2)</p></li>
              <li><p>3. F<small>cb</small>= {{datos.Fcb}} (Tabla 3)</p></li>
              <li><p>4. E<small>c</small>= {{datos.Ec}} (Tabla 4)</p></li>
              <li><p>Fp = {{datos.Fp}} </p></li>
              <li><p>5. C<small>60</small> = 3200 * {{datos.Fpe}} * {{datos.Fd}} * {{datos.Fcb}} * {{datos.Fp}}</p></li>
              <li><h4><b>Capacidad C<small>60</small>=</b> {{datos.cap_60 }} Veh/h</h4></li>
              <li><p>FHP = {{datos.FHP}} (Tabla 5, C<small>60</small>: {{cap_60}} Veh/h )</p></li>
              <li><h4><b>Capacidad C<small>5</small> = </b>{{datos.cap_5}} Veh/h (C<small>5</small> = C<small>60</small> * FHP)</h4></li>
              <br>
              <li style="text-align:center; color: rgb(145, 5, 5);"s><h4><strong>Cálculo de Nivel de Servicio</strong></h4></li>
              <li><p>1. V<small>1</small>= {{datos.v1}} (Tabla 6)</p></li>
              <li><p>2. F<small>u</small>= {{datos.Fu}} (Tabla 7)</p></li>
              <li><p>3. F<small>cb</small>= {{datos.Fcb1}} (Tabla 8)</p></li>
              <li><p>4. V<small>2</small>= {{datos.v2}} (Velocidad de automóviles V<small>2</small> : V<small>1</small> * F<small>u</small> * F<small>cb</small>)</p></li>
              <li><p>5. E<small>c</small>= {{datos.Ec_vel}} (Tabla 9)</p></li>
              <li><p>Fp = {{datos.Fp_vel}} </p></li>
              <li><p>6. F<small>t</small>= {{datos.Ft}} (Tabla 10)</p></li>
              <li><p>V<small>M</small>= {{datos.vM}} km/h (V<small>M</small> : V<small>1</small> * F<small>p</small> * F<small>t</small>)</p></li>
              <li><h4><b>Nivel de servicio: {{datos.Final}}</b></h4></li>
            </ul>
            <a href="{{url_for('home')}}" class="btn btn-danger" style="text-align:center">Regresar al inicio</a>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>